.chessb {
    display: grid;
    grid-template-columns: repeat(8, 75px); 
    grid-template-rows: repeat(8, 75px);
    width: 600px; 
    height: 600px;
    margin: 0 auto;
    border: 5px solid #333;
}

.chessb div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px; 
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black; 
}
